[mysqld]
port=3306
bind-address=0.0.0.0
user=mysql
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
pid-file=/var/run/mysqld/mysqld.pid
skip-networking=false

[mysql_safe]
socket=/var/run/mysqld/mysqld.sock
